#**Test 1 - Blue Round Cypress**
You can see find this questions in <b><i>"img_test"</i></b> folder<br>
<b>Note:</b> <i>this is not the best answer, you can optimize the code and decrease the time complexity.</i>

**Case 1**

In [5]:
def gembok(A, B, moves):
    # Write your solution here
    a1,a2,a3,a4 = int(A[0]), int(A[1]), int(A[2]), int(A[3])
    b1,b2,b3,b4 = int(B[0]), int(B[1]), int(B[2]), int(B[3])
    
    tmp = 0
    for move in moves:
        for val in move:
            if tmp == 0:
                if val == '>':
                    a1 += 1
                else:
                    a1 -= 1
            elif tmp == 1:
                if val == '>':
                    a2 += 1
                else:
                    a2 -= 1
            elif tmp == 2:
                if val == '>':
                    a3 += 1
                else:
                    a3 -= 1
            elif tmp == 3:
                if val == '>':
                    a4 += 1
                else:
                    a4 -= 1
        tmp += 1
    
    x1 = a1+a2+a3+a4
    x2 = b1+b2+b3+b4
    
    if x1 == x2:
        return "TERBUKA"
    
    return "TERKUNCI"

In [6]:
#moves can be [['>>><<<>'], soon]
gembok('2468', '1543', [['>'],['<'],['>'],['<']])

'TERKUNCI'

**Case 2**

In [2]:
def not_budys_friends(N, M, relations):
  """
  N : the number of all people
  M : number of relations
  relations : relationship between 2 people
  """
  tmp, relasi = [0],[]

  while tmp: 
    person = tmp.pop(0)
    
    idx_pop = [] 
    for idx, group in enumerate(relations):
      
      if person in group:
        idx_pop.append(idx)

    for i in idx_pop:
      get_relasi = relations[i]
      if get_relasi[0] != person:
        tmp.append(get_relasi[0])
      else:
        tmp.append(get_relasi[1])
    
    idx_pop_tmp = 0
    for i in idx_pop:
      del relations[i-idx_pop_tmp]
      idx_pop_tmp += 1

    relasi.append(person)
  return N - len(relasi)

In [4]:
relations = [[0, 3], [5, 0], [3, 2], [2,6]]
not_budys_friends(7,4,relations)

2

**Case 3**

In [7]:
def findMinimumTotalShop(N, M, T, S):
    # Write your code here
    total_shop = 0 
    while T:
        print(T)
        total = [] #total item each shop
        for i in range(M): #toko ke 
            count = 0
            for item in T:
              nama = ''.join(S[i])
              if item in nama:
                  count += 1
            print(count)
            total.append(count)  

        print(total)
        
        #whose the most
        idx, sum_i = 0,0
        for idx_items, t_items in enumerate(total):
            if sum_i < t_items:
                idx = idx_items
                sum_i = t_items

        for element in S[idx]:
          for chr in element:
            T = T.replace(chr,'')

        total_shop+=1
    return total_shop

In [10]:
'''
error in some test case, 
[['ACD'],['ACB'],['BE'],['E']] if it changes to [['ACB'],['ACD'],['BE'],['E']], it will return 3
'''
findMinimumTotalShop(5, 4, 'ABCDE', [['ACD'],['ACB'],['BE'],['E']])

ABCDE
3
3
2
1
[3, 3, 2, 1]
BE
0
1
2
1
[0, 1, 2, 1]

2

**Case 4**

In [ ]:
# time flies so fast

#**Test 2 - QB Hexagon**

**Case 1**

In [11]:
def minStart(arr):
    # Write your code here
    #check if len of array less then equal 1
    if len(arr) <= 1:
        if len(arr)==0:
            return 1
        if arr[0] >= 0 :
            return 1
        else:
            return arr[0]*-1+1
    else:
        a = 0    #starting point
        tmp = [] #temporary array save the additional value
        for i in arr:
            a= a+ i
            tmp.append(a)

        tmp.sort() #sort from the minimum value
        
        if tmp[0]>=0: #it minimum value more then equal 0, return 1
            return 1
        
        """
        take the minimimum value * -1 to make it positive (negation)
        note we start from 0, so we need to add +1 to make 
        all the additional value more than 0
        """
        return tmp[0]*-1+1

In [12]:
minStart([-4,3,2,1])

5

**Case 2**</br>
I can not think this case anymore, and this is the brute force, and it certainly has a high time complexity. Just run in 8 test case of 12. And the reason is time complexity :D

In [13]:
def getNumberOfOptions(priceOfJeans, priceOfShoes, priceOfSkirts, priceOfTops, budgeted):
    # Write your code here
    all_items = []
    all_items.append(priceOfJeans)
    all_items.append(priceOfShoes)
    all_items.append(priceOfSkirts)
    all_items.append(priceOfTops)

    drop_tmp = 0
    if len(priceOfJeans) == 1:
      budgeted -= priceOfJeans[0]
      del all_items[0-drop_tmp]
      drop_tmp +=1
    if len(priceOfShoes) == 1:
      budgeted -= priceOfShoes[0]
      del all_items[1-drop_tmp]
      drop_tmp +=1
    if len(priceOfSkirts) == 1:
      budgeted -= priceOfSkirts[0]
      del all_items[2-drop_tmp]
      drop_tmp +=1
    if len(priceOfTops) == 1:
      budgeted -= priceOfTops[0]
      del all_items[3-drop_tmp]
      drop_tmp +=1
  
    count = 0
    if len(all_items) == 0:
        if priceOfJeans[0]+priceOfShoes[0]+priceOfSkirts[0]+priceOfTops[0] <= budgeted:
            count+=1
    elif len(all_items) == 1:
        for first in all_items[0]:
            if first <= budgeted:
                count +=1
    elif len(all_items) == 2:
        for first in all_items[0]:
            for second in all_items[1]:
                if first + second <= budgeted:
                    count +=1
    elif len(all_items) == 3:
        for first in all_items[0]:
            for second in all_items[1]:
                for third in all_items[2]:
                    if first + second + third <= budgeted:
                        count +=1
    else:
        for first in all_items[0]:
            for second in all_items[1]:
                for third in all_items[2]:
                    for fourth in all_items[3]:
                        if first + second + third+ fourth <= budgeted:
                            count +=1
    return count

**Case 3**
<br>
I still don't know about time series prediction